/* Start Box */
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-col {
  flex-direction: column;
}
.f-wrap {
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1;
}
.d-grid {
  display: grid;
}
.grid-450 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (max-width: 1100px) {
  .grid-450 > .box {
    grid-column: span 2;
  }
}
@media (max-width: 767px) {
  .grid-450 {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
  }
}
.gap-20 {
  gap: 20px;
}
@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}
.d-block {
  display: block;
}
/* End Box */
/* Start Padding + Margin + Shape*/
.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}
.pt-10 {
  padding-top: 10;
}
.btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
}
.m-0 {
  margin: 0;
}
.m-20 {
  margin: 20px;
}
.m-10 {
  margin: 10px;
}
.mt-0 {
  margin-top: 0;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
/* End Padding + Margin */
/* Start Color */
.bg-white {
  background-color: white;
}
.bg-eee {
  background-color: #eee;
}
.bg-orange {
  background-color: var(--orange-color);
}
.bg-blue {
  background-color: var(--blue-color);
}
.bg-blue-alt {
  background-color: var(--blue-alt-color);
}
.bg-green {
  background-color: var(--green-color);
}
.bg-red {
  background-color: var(--red-color);
}
.c-black {
  color: black;
}
.c-white {
  color: white;
}
.c-gray {
  color: var(--gray-color);
}
.c-blue {
  color: var(--blue-color);
}
.c-red {
  color: var(--red-color);
}
.c-orange {
  color: var(--orange-color);
}
.c-green {
  color: var(--green-color);
}
/* End Color */
/* Start Position */
.p-relative {
  position: relative;
}
/* End Position */
/* Start Font */
.txt-c {
  text-align: center;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
}
.f-bold {
  font-weight: bold;
}
.fw-500 {
  font-weight: 500;
}
/* End Font */
/* Start Border */
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
/* End Border */
/* Start Width + height */
.w-100 {
  max-width: 100%;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.fit-content {
  width: fit-content;
  height: fit-content;
}
/* End Width + height */
/* <label class="p-relative fit-content">
      <input class="toggle-checkbox" type="checkbox" checked />
      <div class="toggle-switch">
        <i class="fa-solid fa-xmark"></i>
        <i class="fa-solid fa-check"></i>
      </div>
    </label>
*/
